<div class="modal fade" id="best_window" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> 10 лучших результатов</h4>
          </div>

          <div class="modal-body" id="best_list">

          </div>

          <div class="modal-footer"> 
            <button id="btn_close_best" type="button" class="btn btn-default">Закрыть</button>
          </div>

      </div>
    </div>
</div>